<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('partials/head.ejs') %>
</head>

<body>
  <header>
    <%- include('partials/header.ejs') %>
  </header>

  <h1>
    Página Home
  </h1>

  <%- include('partials/foot.ejs') %>
</body>

</html>